*, ::after, ::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	font: 16px/1.3 Arial, Helvetica, sans-serif;
}


ol, ul, p, h1, h2, h3, h4, h5, h6 {
	margin: 0 0 1rem;
}

.row::after {
	content: '';
	display: block;
	clear: both;
}

.col {
	float: left;
	height: 100px;
	margin: 0 10px 10px;
}

.fixed-width {
	width: 180px;
}

.flex-width {
	width: calc(100% - 400px - 20px);
}

.red1 {
	width: calc(33.33% - 20px);
}

.blue1 {
	width: calc(66.66% - 20px);
}

.red4 {
	width: calc(100% / 4 - 20px);
}

.red2 {
	width: calc(50% - 20px);
}

.redbgc {
	background-color: red;
}

.bluebgc {
	background-color: blue;
}

