.card {
	width: 100%;
	position: relative;
	margin-bottom: 20px;

	img {
		width: 100%;
		height: auto;
	}

	p {
		font-weight: 700;
		background-color: $dark-gray;
		color: $white;
		margin: 0;
		padding: 17px 20px;
		text-transform: uppercase;
	}

	.hover-box {
		background-color: $hover-boxbgc;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		opacity: 0;
		transition: opacity .3s ease-in-out;
		text-decoration: none;
	}

	.plus {
		flex-grow: 1;
		position: relative;

		&::after,
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			background-color: #fff;
			transform: translate(-50%,-50%);
		}

		&::before {
			width: 20px;
			height: 3px;
		}

		&::after {
			width: 3px;
			height: 20px;
		}
	}

	&:hover {
		.hover-box {
			opacity: 1;
		}
	}
}

